<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>비밀번호 확인</title>
  <th:block th:insert="~{layout :: head}"></th:block>
</head>

<body>
<!-- 공통 js -->
<th:block th:insert="~{layout :: js}"></th:block>

<div class="modal fade" id="confirmSignupModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog special-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="SignupModalLabel">비밀번호 확인</h4>
      </div>
      <div class="modal-body" id="SignupModalMessage">
        <!-- 모달 내용은 JavaScript로 동적으로 추가됨 -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="CancelButton" data-dismiss="modal">취소
        </button>
      </div>
    </div>
  </div>
</div>

<section id="container">
  <!-- 상단바 -->
  <th:block th:insert="~{layout :: navbar}"></th:block>
  <!-- 사이드바 -->
  <th:block th:insert="~{layout :: sidebar}"></th:block>


  <!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> 비밀번호 확인</h3><br><br><br>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel" style="max-width: 1060px; margin: 0 auto; padding-left: 110px;">
            <h4 class="mb"><i class="fa fa-angle-right"></i> 비밀번호 확인</h4>
            <br>
            <form class="form-horizontal style-form" method="get">
              <!-- 비밀번호 입력 -->
              <div class="form-group">
                <!-- 비밀번호 재입력 -->
                <label class="col-sm-2 col-sm-2 control-label">비밀번호 입력</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="inputUserConfirmPassword"
                         placeholder="비밀번호 입력">
                  <span class="help-block">회원정보 수정을 위해 비밀번호 확인이 필요합니다.</span>
                </div>
              </div>

              <div class="form-group">
                <!-- 비밀번호 확인하기 버튼 -->
                <div class="col-sm-offset-2 col-sm-7 text-center">
                  <button type="button" class="btn btn-warning btn-lg btn-block" id="Signup"
                          data-toggle="modal" data-target="#confirmSignupModal">비밀번호 확인하기
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div><!-- col-lg-12-->
      </div><!-- /row -->
      </div><!-- /row -->
    </section>
  </section>
  <!--main content end-->
  <!-- 푸터 -->
  <th:block th:insert="~{layout :: footer}"></th:block>
</section>

<script>
  $(document).ready(function () {
    TaskList.initTaskWidget();

    $('#Signup').on('click', function () {

      var confirmPassword = $('#inputUserConfirmPassword').val();

      // 비밀번호가 입력되었는지 확인
      if (confirmPassword === '') {
        $('#SignupModalMessage').html('<p>비밀번호가 입력되지 않았습니다. 입력 비밀번호를 다시 확인해 주세요.</p>');
        $('#CancelButton').show();
        return;
      }

      // 입력 비밀번호가 '1'일 경우 myinfo.html 페이지로 이동
      if (confirmPassword === '1') {
        window.location.href = 'myinfo.html';
        return; // 페이지 이동 후 다음 코드는 실행되지 않도록 함수 종료
      }

      // 비밀번호가 '1'이 아닐 경우 비밀번호 확인 모달 생성
      $('#SignupModalMessage').html('<p>비밀번호가 일치하지 않습니다. 비밀번호를 다시 확인해 주세요.</p>');
      $('#CancelButton').show();
    });
  });
</script>

</body>
</html>
